---
layout: default
taglist: "天地不仁，以万物为刍狗"
---
<div class="col-md-9">
  {% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p class="author">
  <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
  </p>
  {% if post.content contains "<!-- more -->" %}
  {{ post.content | split:'<!-- more -->' | first }}
  {% else %}
  {{ post.content}}
  {% endif %}
  {% endfor %}

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="/">Home</a>
    <a class="btn btn-primary btn-sm" href="/">&laquo; Prev</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="/">Home</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.previous_page}}/">&laquo; Prev</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="/">Home</a></span>
    <span><a class="btn btn-primary btn-sm disabled">&laquo; Prev</a></span>
    {% endif %}
    <span><a class="btn btn-primary btn-sm disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="/page{{paginator.next_page}}/">Next &raquo;</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.total_pages}}/">Last</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">Next &raquo;</a></span>
    <span><a class="btn btn-primary btn-sm disabled">Last</a></span>
    {% endif %}
  </div>
</div>
<div class="col-md-3 visible-lg visible-md">
  {% include categories.html %}
  {% include recently_posts.html %}
  {% include recently_comments.html %}
  {% include blogroll.html %}
</div>
<div class="clearfix"></div>
		 	<div style="width:300px;margin:0 auto; padding:20px 0;">
				<img src="./备案图标.png" style="width:16px;"/>
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011702008040" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31011702008040号</p></a>
		 	</div>
